## AIVLE School [AI 미니프로젝트] '서울시 생활정보 기반 대중교통 수요 분석'

---

# 4. 구 별 업종 분석
### 서울시 내 각 구 별로 등록업종을 분석합니다.

## 데이터 안내

[데이터 파일명]
* 4. seoul_people.csv

[데이터 정보]
* 서울 시 구별 등록 업종 상위 10개 데이터
    * 택시운송업
    * 한식일반음식점업
    * 용달 화물자동차 운송업
    * 부동산 중개 및 대리업
    * 두발미용업
    * 커피전문점
    * 남녀용 겉옷 및 셔츠 도매업
    * 기타주점업
    * 일반 교과 학원
    * 한식 육류요리 전문점

[데이터 컬럼 정보]
* 다수 업종 상위 1~10

In [6]:
# 필요 라이브러리를 설치합니다.
%pip install pandas seaborn

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/97/d8/dc2f6bff06a799a5603c414afc6de39c6351fe34892d50b6a077df3be6ac/pandas-2.1.3-cp311-cp311-win_amd64.whl.metadata
  Using cached pandas-2.1.3-cp311-cp311-win_amd64.whl.metadata (18 kB)
Collecting seaborn
  Obtaining dependency information for seaborn from https://files.pythonhosted.org/packages/7b/e5/83fcd7e9db036c179e0352bfcd20f81d728197a16f883e7b90307a88e65e/seaborn-0.13.0-py3-none-any.whl.metadata
  Using cached seaborn-0.13.0-py3-none-any.whl.metadata (5.3 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Obtaining dependency information for numpy<2,>=1.23.2 from https://files.pythonhosted.org/packages/da/3c/3ff05c2855eee52588f489a4e607e4a61699a0742aa03ccf641c77f9eb0a/numpy-1.26.2-cp311-cp311-win_amd64.whl.metadata
  Downloading numpy-1.26.2-cp311-cp311-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.2 kB ? eta -:--:--
     ------------------- ------------------ 30.7/61.2 kB 660.6 kB/s eta 0:00:01
     -------------------------------------- 61.2/61.2 kB 822.1 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting matplotlib!=3.6.1,>=3.3 (from seaborn)
  Obtaining dependency information for matplotlib!=3.6.1,>=3.3 from https://files.pythonhosted.org/packages/26/5a/27fd341e4510257789f19a4b4be8bb90d1113b8f176c3dab562b4f21466e/matplotlib-3.8.2-cp311-cp311-win_amd64.whl.metadata
  Downloading matplotlib-3.8.2-cp311-cp311-win_amd64.whl.metadata (5.9 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/ca/2a/d197a412ec474391ee878b1218cf2fe9c6e963903755887fc5654c06636a/contourpy-1.2.0-cp311-cp311-win_amd64.whl.metadata
  Downloading contourpy-1.2.0-cp311-cp311-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Obtaining dependency information for cycler>=0.10 from https://files.pythonhosted.org/packages/e7/05/c19819d5e3d95294a6f5947fb9b9629efb316b96de511b418c53d245aae6/cycler-0.12.1-py3-none-any.whl.metadata
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Obtaining dependency information for fonttools>=4.22.0 from https://files.pythonhosted.org/packages/c4/d8/a68085e2da45aad6acebf512fe2d9fe783d6af3efad4a3b0d708783f891b/fonttools-4.46.0-cp311-cp311-win_amd64.whl.metadata
  Downloading fonttools-4.46.0-cp311-cp311-win_amd64.whl.metadata (159 kB)
     ---------------------------------------- 0.0/159.4 kB ? eta -:--:--
     -------------------------------------- 159.4/159.4 kB 4.8 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Obtaining dependency information for kiwisolver>=1.3.1 from https://files.pythonhosted.org/packages/1e/37/d3c2d4ba2719059a0f12730947bbe1ad5ee8bff89e8c35319dcb2c9ddb4c/kiwisolver-1.4.5-cp311-cp311-win_amd64.whl.metadata
  Downloading kiwisolver-1.4.5-cp311-cp311-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Obtaining dependency information for pillow>=8 from https://files.pythonhosted.org/packages/b1/38/31def4109acd4db10672df6f806b175c0d21458f845ddc0890e43238ba7c/Pillow-10.1.0-cp311-cp311-win_amd64.whl.metadata
  Downloading Pillow-10.1.0-cp311-cp311-win_amd64.whl.metadata (9.6 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.3->seaborn)
  Obtaining dependency information for pyparsing>=2.3.1 from https://files.pythonhosted.org/packages/39/92/8486ede85fcc088f1b3dba4ce92dd29d126fd96b0008ea213167940a2475/pyparsing-3.1.1-py3-none-any.whl.metadata
  Downloading pyparsing-3.1.1-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.1.3-cp311-cp311-win_amd64.whl (10.6 MB)
Using cached seaborn-0.13.0-py3-none-any.whl (294 kB)
Downloading matplotlib-3.8.2-cp311-cp311-win_amd64.whl (7.6 MB)
   ---------------------------------------- 0.0/7.6 MB ? eta -:--:--
   -- ------------------------------------- 0.4/7.6 MB 9.2 MB/s eta 0:00:01
   ---- ----------------------------------- 0.9/7.6 MB 11.4 MB/s eta 0:00:01
   ------ --------------------------------- 1.3/7.6 MB 10.1 MB/s eta 0:00:01
   ------- -------------------------------- 1.4/7.6 MB 9.1 MB/s eta 0:00:01
   --------- ------------------------------ 1.9/7.6 MB 8.5 MB/s eta 0:00:01
   ----------- ---------------------------- 2.2/7.6 MB 8.9 MB/s eta 0:00:01
   -------------- ------------------------- 2.7/7.6 MB 9.1 MB/s eta 0:00:01
   ---------------- ----------------------- 3.1/7.6 MB 9.6 MB/s eta 0:00:01
   ------------------ --------------------- 3.6/7.6 MB 9.1 MB/s eta 0:00:01
   --------------------- ------------------ 4.1/7.6 MB 9.6 MB/s eta 0:00:01
   ----------------------- ---------------- 4.5/7.6 MB 9.4 MB/s eta 0:00:01
   ------------------------- -------------- 4.9/7.6 MB 9.3 MB/s eta 0:00:01
   --------------------------- ------------ 5.3/7.6 MB 9.1 MB/s eta 0:00:01
   ------------------------------ --------- 5.8/7.6 MB 9.5 MB/s eta 0:00:01
   ------------------------------- -------- 6.0/7.6 MB 9.2 MB/s eta 0:00:01
   --------------------------------- ------ 6.5/7.6 MB 9.2 MB/s eta 0:00:01
   ----------------------------------- ---- 6.8/7.6 MB 9.1 MB/s eta 0:00:01
   ------------------------------------- -- 7.2/7.6 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------  7.6/7.6 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------  7.6/7.6 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------- 7.6/7.6 MB 8.7 MB/s eta 0:00:00
Downloading numpy-1.26.2-cp311-cp311-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
    --------------------------------------- 0.4/15.8 MB 12.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/15.8 MB 10.4 MB/s eta 0:00:02
   -- ------------------------------------- 1.0/15.8 MB 9.5 MB/s eta 0:00:02
   -- ------------------------------------- 1.0/15.8 MB 9.5 MB/s eta 0:00:02
   -- ------------------------------------- 1.0/15.8 MB 9.5 MB/s eta 0:00:02
   -- ------------------------------------- 1.0/15.8 MB 9.5 MB/s eta 0:00:02
   -- ------------------------------------- 1.0/15.8 MB 9.5 MB/s eta 0:00:02
   -- ------------------------------------- 1.0/15.8 MB 9.5 MB/s eta 0:00:02
   -- ------------------------------------- 1.0/15.8 MB 9.5 MB/s eta 0:00:02
   -- ------------------------------------- 1.1/15.8 MB 2.6 MB/s eta 0:00:06
   --- ------------------------------------ 1.4/15.8 MB 2.9 MB/s eta 0:00:06
   ---- ----------------------------------- 1.7/15.8 MB 3.2 MB/s eta 0:00:05
   ----- ---------------------------------- 2.0/15.8 MB 3.7 MB/s eta 0:00:04
   ------ --------------------------------- 2.5/15.8 MB 4.2 MB/s eta 0:00:04
   ------ --------------------------------- 2.8/15.8 MB 4.3 MB/s eta 0:00:04
   ------- -------------------------------- 3.1/15.8 MB 4.5 MB/s eta 0:00:03
   --------- ------------------------------ 3.7/15.8 MB 4.9 MB/s eta 0:00:03
   ---------- ----------------------------- 4.0/15.8 MB 5.0 MB/s eta 0:00:03
   ---------- ----------------------------- 4.3/15.8 MB 5.1 MB/s eta 0:00:03
   ----------- ---------------------------- 4.6/15.8 MB 5.2 MB/s eta 0:00:03
   ------------ --------------------------- 5.0/15.8 MB 5.4 MB/s eta 0:00:03
   ------------- -------------------------- 5.5/15.8 MB 5.6 MB/s eta 0:00:02
   -------------- ------------------------- 5.9/15.8 MB 5.7 MB/s eta 0:00:02
   --------------- ------------------------ 6.2/15.8 MB 5.8 MB/s eta 0:00:02
   ---------------- ----------------------- 6.6/15.8 MB 5.9 MB/s eta 0:00:02
   ----------------- ---------------------- 7.0/15.8 MB 6.1 MB/s eta 0:00:02
   ------------------ --------------------- 7.3/15.8 MB 6.1 MB/s eta 0:00:02
   ------------------- -------------------- 7.8/15.8 MB 6.2 MB/s eta 0:00:02
   -------------------- ------------------- 8.1/15.8 MB 6.3 MB/s eta 0:00:02
   --------------------- ------------------ 8.5/15.8 MB 6.4 MB/s eta 0:00:02
   ---------------------- ----------------- 9.1/15.8 MB 6.6 MB/s eta 0:00:02
   ----------------------- ---------------- 9.4/15.8 MB 6.7 MB/s eta 0:00:01
   ------------------------- -------------- 9.9/15.8 MB 6.7 MB/s eta 0:00:01
   ------------------------- -------------- 10.1/15.8 MB 6.7 MB/s eta 0:00:01
   -------------------------- ------------- 10.5/15.8 MB 6.7 MB/s eta 0:00:01
   --------------------------- ------------ 10.9/15.8 MB 6.7 MB/s eta 0:00:01
   ---------------------------- ----------- 11.3/15.8 MB 8.5 MB/s eta 0:00:01
   ----------------------------- ---------- 11.8/15.8 MB 8.6 MB/s eta 0:00:01
   ------------------------------ --------- 12.2/15.8 MB 8.6 MB/s eta 0:00:01
   ------------------------------- -------- 12.5/15.8 MB 8.6 MB/s eta 0:00:01
   -------------------------------- ------- 12.8/15.8 MB 8.7 MB/s eta 0:00:01
   --------------------------------- ------ 13.2/15.8 MB 8.7 MB/s eta 0:00:01
   ---------------------------------- ----- 13.7/15.8 MB 8.7 MB/s eta 0:00:01
   ----------------------------------- ---- 14.1/15.8 MB 8.8 MB/s eta 0:00:01
   ------------------------------------ --- 14.6/15.8 MB 9.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/15.8 MB 8.8 MB/s eta 0:00:01
   -------------------------------------- - 15.3/15.8 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------  15.7/15.8 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 8.5 MB/s eta 0:00:00
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Downloading contourpy-1.2.0-cp311-cp311-win_amd64.whl (187 kB)
   ---------------------------------------- 0.0/187.6 kB ? eta -:--:--
   --------------------------------------- 187.6/187.6 kB 11.1 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.46.0-cp311-cp311-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ------- -------------------------------- 0.4/2.2 MB 11.8 MB/s eta 0:00:01
   ----------- ---------------------------- 0.6/2.2 MB 9.6 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.2 MB 7.3 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.2 MB 7.9 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.2 MB 7.6 MB/s eta 0:00:01
   ------------------------------ --------- 1.7/2.2 MB 6.7 MB/s eta 0:00:01
   ---------------------------------- ----- 1.9/2.2 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.2 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 6.0 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp311-cp311-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.1 kB ? eta -:--:--
   ---------------------------------------- 56.1/56.1 kB 2.9 MB/s eta 0:00:00
Downloading Pillow-10.1.0-cp311-cp311-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.6 MB 3.3 MB/s eta 0:00:01
   ---- ----------------------------------- 0.3/2.6 MB 3.4 MB/s eta 0:00:01
   ----- ---------------------------------- 0.4/2.6 MB 3.3 MB/s eta 0:00:01
   -------- ------------------------------- 0.6/2.6 MB 3.5 MB/s eta 0:00:01
   ---------- ----------------------------- 0.7/2.6 MB 3.2 MB/s eta 0:00:01
   ------------ --------------------------- 0.8/2.6 MB 3.0 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.6 MB 3.2 MB/s eta 0:00:01
   ---------------- ----------------------- 1.1/2.6 MB 3.0 MB/s eta 0:00:01
   ----------------- ---------------------- 1.2/2.6 MB 3.0 MB/s eta 0:00:01
   -------------------- ------------------- 1.3/2.6 MB 3.0 MB/s eta 0:00:01
   ------------------------ --------------- 1.6/2.6 MB 3.3 MB/s eta 0:00:01
   ----------------------------- ---------- 1.9/2.6 MB 3.5 MB/s eta 0:00:01
   --------------------------------- ------ 2.2/2.6 MB 3.6 MB/s eta 0:00:01
   ------------------------------------- -- 2.4/2.6 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  2.6/2.6 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 3.7 MB/s eta 0:00:00
Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
   ---------------------------------------- 0.0/103.1 kB ? eta -:--:--
   ---------------------------------------- 103.1/103.1 kB 5.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.2.0 cycler-0.12.1 fonttools-4.46.0 kiwisolver-1.4.5 matplotlib-3.8.2 numpy-1.26.2 pandas-2.1.3 pillow-10.1.0 pyparsing-3.1.1 pytz-2023.3.post1 seaborn-0.13.0 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

---

# 4.1.데이터 불러오기

#### [4.1.1] 데이터 로딩
* Pandas 라이브러리를 활용해서 '4. business_type.csv'파일을 'seoul_business' 변수에 저장하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 ',' 입니다
        * 인코더를 사용해 주세요
    * 데이터를 불러올 때 오류가 발생한다면, 오류에 대해 직접 검색하여 해결해보세요.

In [29]:
# 아래에 코드를 작성하고 결과를 확인합니다.
import pandas as pd
import numpy as np
seoul_business = pd.read_csv('./csv/4. business_type.csv', sep=',')
seoul_business

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
1,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
3,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
4,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,강동구,성내3동,120,120,135,390,73,73,104,163,...,54,133,10,86,57,103,66,199,44,164
447,강동구,둔촌2동,117,436,63,249,89,89,61,108,...,34,85,10,788,21,39,35,90,24,101
448,강동구,암사1동,209,372,71,195,153,153,67,107,...,29,59,3,6,47,98,31,67,34,98
449,강동구,천호2동,157,187,152,509,144,151,97,188,...,63,212,4,17,95,268,24,42,69,245
450,강동구,길동,"1,441","1,557",152,436,217,225,146,237,...,71,228,6,126,122,294,39,136,70,224

In [30]:
# 데이터 프레임의 Shape을 확인합니다.
np.shape(seoul_business)

(451, 22)

---

# 4.2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [4.2.1] 기본 정보 확인하기
* 'seoul_business' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head', 'tail' 등 전부 활용해 보겠습니다.

In [31]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_business.describe()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
count,451,451,451,451,451,451,451,451,451,451,...,451,451,451,451,451,451,451,451,451,451
unique,27,425,226,280,176,305,177,180,142,205,...,131,239,69,147,127,189,113,222,107,230
top,송파구,소계,71,11,24,104,56,56,40,54,...,13,16,-,-,18,20,4,42,17,45
freq,28,25,7,7,11,6,8,9,11,9,...,18,8,82,82,14,10,15,10,16,9

In [21]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   자치구           451 non-null    object
 1   동             451 non-null    object
 2   다수업종 상위10     451 non-null    object
 3   다수업종 상위10.1   451 non-null    object
 4   다수업종 상위10.2   451 non-null    object
 5   다수업종 상위10.3   451 non-null    object
 6   다수업종 상위10.4   451 non-null    object
 7   다수업종 상위10.5   451 non-null    object
 8   다수업종 상위10.6   451 non-null    object
 9   다수업종 상위10.7   451 non-null    object
 10  다수업종 상위10.8   451 non-null    object
 11  다수업종 상위10.9   451 non-null    object
 12  다수업종 상위10.10  451 non-null    object
 13  다수업종 상위10.11  451 non-null    object
 14  다수업종 상위10.12  451 non-null    object
 15  다수업종 상위10.13  451 non-null    object
 16  다수업종 상위10.14  451 non-null    object
 17  다수업종 상위10.15  451 non-null    object
 18  다수업종 상위10.16  451 non-null    object
 19  다수업종 상위10.17  451 non-null    object
 20  다수업종 상위10.18  451 non-null    object
 21  다수업종 상위10.19  451 non-null    object
dtypes: object(22)
memory usage: 77.6+ KB

In [32]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_business.head()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
1,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
3,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
4,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220

In [12]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_business.tail()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
446,강동구,성내3동,120,120,135,390,73,73,104,163,...,54,133,10,86,57,103,66,199,44,164
447,강동구,둔촌2동,117,436,63,249,89,89,61,108,...,34,85,10,788,21,39,35,90,24,101
448,강동구,암사1동,209,372,71,195,153,153,67,107,...,29,59,3,6,47,98,31,67,34,98
449,강동구,천호2동,157,187,152,509,144,151,97,188,...,63,212,4,17,95,268,24,42,69,245
450,강동구,길동,"1,441","1,557",152,436,217,225,146,237,...,71,228,6,126,122,294,39,136,70,224

#### [4.2.2] 원하는 데이터 형태로 저장하기

* head, tail 등을 살펴본 결과를 토대로 header 값을 적절히 지정하여 데이터를 다시 불러오고 필요한 컬럼만 저장하세요

In [33]:
#read_csv 재실행. 단, header값을 적절히 지정
seoul_business = pd.read_csv('./csv/4. business_type.csv', sep=',', header=2)
seoul_business

,자치구,동,사업체수,종사자수,사업체수.1,종사자수.1,사업체수.2,종사자수.2,사업체수.3,종사자수.3,...,사업체수.5,종사자수.5,사업체수.6,종사자수.6,사업체수.7,종사자수.7,사업체수.8,종사자수.8,사업체수.9,종사자수.9
0,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
1,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
2,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
3,종로구,삼청동,5,5,42,145,4,4,9,10,...,66,243,2,3,3,8,-,-,7,33
4,종로구,부암동,22,22,26,100,9,9,17,26,...,24,62,3,6,7,23,16,59,3,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,강동구,성내3동,120,120,135,390,73,73,104,163,...,54,133,10,86,57,103,66,199,44,164
445,강동구,둔촌2동,117,436,63,249,89,89,61,108,...,34,85,10,788,21,39,35,90,24,101
446,강동구,암사1동,209,372,71,195,153,153,67,107,...,29,59,3,6,47,98,31,67,34,98
447,강동구,천호2동,157,187,152,509,144,151,97,188,...,63,212,4,17,95,268,24,42,69,245
448,강동구,길동,"1,441","1,557",152,436,217,225,146,237,...,71,228,6,126,122,294,39,136,70,224

In [34]:
# 다시 불러온 데이터프레임에서 여러분 각자가 사용하고자 하는 컬럼만 가져오세요.
seoul_business = seoul_business.iloc[:, [0, 1, 5, 13, 17, 19, 21]]

In [35]:
# 여러분 각자가 사용하고자 하는 형태로 데이터를 정리합니다. 
# 예를 들어, 동 컬럼의 값이 소계인 항목들만 골라내 보겠습니다. 
# 위와 같이 동 컬럼의 소계를 구하면 자치구 별 값이 되므로 이후에 동 컬럼은 삭제하겠습니다. 결과적으로 자치구 별 값을 얻게 됩니다.
seoul_business = seoul_business.loc[seoul_business['동']=='소계']
seoul_business.rename(columns={'종사자수.1': '한식일반음식점업 종사자수', '종사자수.5': '커피전문점 종사자수', '종사자수.7': '기타주점업 종사자수', '종사자수.8': '일반교과학원 종사자수'
                              , '종사자수.9': '한식육류요리전문점 종사자수'}, inplace=True)
seoul_business

      자치구   동 한식일반음식점업 종사자수 커피전문점 종사자수 기타주점업 종사자수 일반교과학원 종사자수 한식육류요리전문점 종사자수
1     종로구  소계         5,912      3,613      1,413         382          1,982
19     중구  소계         6,414      3,542        982         175          2,121
35    용산구  소계         2,987      2,076      1,332         573          1,184
52    성동구  소계         2,785      1,859        621       1,494          1,545
70    광진구  소계         2,861      1,887      1,577       1,646          1,678
86   동대문구  소계         3,566      1,472      1,082         984          1,509
101   중랑구  소계         2,479      1,037      1,000       1,045          1,504
118   성북구  소계         2,822      1,384      1,030       1,755          1,334
139   강북구  소계         2,663      1,095      1,275         740          1,176
153   도봉구  소계         2,009        837        477       1,162            943
168   노원구  소계         2,650      1,748        844       3,281          1,557
188   은평구  소계         2,585      1,296        925       1,793          1,639
205  서대문구  소계         2,694      1,323      1,127       1,268          1,088
220   마포구  소계         4,705      4,475      2,559       1,855          2,928
237   양천구  소계         2,800      1,375        851       5,804          1,111
256   강서구  소계         4,584      2,530      1,709       2,347          2,274
277   구로구  소계         3,215      1,384      1,165       1,111          1,496
293   금천구  소계         2,619      1,215        685         487          1,042
304  영등포구  소계         6,476      3,295      1,489       1,082          2,151
323   동작구  소계         2,322      1,628        955       1,463          1,177
339   관악구  소계         3,689      2,049      1,672       1,230          1,628
361   서초구  소계         6,712      3,897      1,255       3,812          2,338
380   강남구  소계        11,486      7,273      2,528       9,020          5,008
403   송파구  소계         5,760      3,372      1,469       4,160          2,781
431   강동구  소계         3,388      1,660      1,349       2,104          1,459

In [26]:
# seoul_business = seoul_business.drop('동', axis=1, inplace=True)
seoul_business

      자치구   동 한식일반음식점업 종사자수 커피전문점 종사자수 기타주점업 종사자수 일반교과학원 종사자수 한식육류요리전문점 종사자수
1     종로구  소계         5,912      3,613      1,413         382          1,982
19     중구  소계         6,414      3,542        982         175          2,121
35    용산구  소계         2,987      2,076      1,332         573          1,184
52    성동구  소계         2,785      1,859        621       1,494          1,545
70    광진구  소계         2,861      1,887      1,577       1,646          1,678
86   동대문구  소계         3,566      1,472      1,082         984          1,509
101   중랑구  소계         2,479      1,037      1,000       1,045          1,504
118   성북구  소계         2,822      1,384      1,030       1,755          1,334
139   강북구  소계         2,663      1,095      1,275         740          1,176
153   도봉구  소계         2,009        837        477       1,162            943
168   노원구  소계         2,650      1,748        844       3,281          1,557
188   은평구  소계         2,585      1,296        925       1,793          1,639
205  서대문구  소계         2,694      1,323      1,127       1,268          1,088
220   마포구  소계         4,705      4,475      2,559       1,855          2,928
237   양천구  소계         2,800      1,375        851       5,804          1,111
256   강서구  소계         4,584      2,530      1,709       2,347          2,274
277   구로구  소계         3,215      1,384      1,165       1,111          1,496
293   금천구  소계         2,619      1,215        685         487          1,042
304  영등포구  소계         6,476      3,295      1,489       1,082          2,151
323   동작구  소계         2,322      1,628        955       1,463          1,177
339   관악구  소계         3,689      2,049      1,672       1,230          1,628
361   서초구  소계         6,712      3,897      1,255       3,812          2,338
380   강남구  소계        11,486      7,273      2,528       9,020          5,008
403   송파구  소계         5,760      3,372      1,469       4,160          2,781
431   강동구  소계         3,388      1,660      1,349       2,104          1,459

In [36]:
# 위에서 여러분 각자가 사용하고자 하는 형태로 정리한 해당 데이터프레임을 csv 파일('df_seoul_business.csv')로 저장하세요.
seoul_business.to_csv('csv/df_seoul_business.csv', index=False)

---

# 4.3.데이터 분석하기
+ 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별하세요.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [37]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

#### [4.3.1] 데이터 분포 알아보기_1
* '자치구' 등 여러 변수를 기준으로 시각화 해보고 인사이트를 도출해보세요.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

---